html, body{
    width: 100%;
    height: 100vh;
}
body{
    width: 100%;
    height: 100vh;
    background: #0c1016;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Left and Right sqaure section  */
/* *******************************  */

.bg-art{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background: none;
}


.bg-art span.top-left,
.bg-art span.bottom-right{
    position: absolute;
    background: rgba(233, 233, 233, 0.02);
    width: 380px;
    height: 310px;
}

.bg-art span.top-left:after,
.bg-art span.bottom-right:after{
    content:'';
    position: absolute;
    background: rgba(233, 233, 233, 0.01);
    width: 450px;
    height: 380px;
}

.bg-art span.top-left{
    left:0;
    top:0;
    content:'';
    transform: translate(-50%, -50%)
}

.bg-art span.bottom-right{
    right:0;
    bottom:0;
    content:'';
    transform: translate(50%, 50%)
}

.bg-art span.top-left:after{
    left:0;
    top:0;
    content:'';
    transform: translate(0, 0)
}

.bg-art span.bottom-right:after{
    right:0;
    bottom:0;
    content:'';
    transform: translate(0, 0)
}

.h1, h1 {
    font-size: 4.9rem;
}

h1 span{
    font-size:  1rem;
    animation: easing 0.7s ease infinite;
}
/* *******************************  */



/* *******************************  */
/* loader  */
/* *******************************  */

.loader{
    position: fixed;
    top:50%;
    left: 50%;
    width: 80px;
    height: 80px;
    transform: translate(-50%, -50%);
}

.loader > div{
    position: relative;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

/* Animation loader 01  */
.loader > div span:nth-child(1){
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(227, 164, 0, 0.70);
    transform: scale(1) rotate(0deg);
    animation: rot1 3s ease infinite;
}

/* Animation loader 02  */
.loader > div span:nth-child(2){
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    transform: scale(1) rotate(0deg);
    background: rgba(233, 233, 233, 0.04);
    animation: rot1 3s ease 0.8s infinite;
}

body.loaded{
    animation: lightson 0.4s ease-in forwards;
}

body.loaded .slider-wrapper{
    animation: getContent 1s ease 1s forwards;
}

.loaded .loader> div span:nth-child(1){
    animation: dis1 0.5s ease forwards;
}

.loaded .loader> div span:nth-child(2){
    animation: dis1 0.5s ease 0.2s forwards;
}

.loaded .bg-art span.top-left{
    animation: giveway-top-left 0.3s ease-in 0.3s forwards;
}

.loaded  .bg-art span.bottom-right{
    animation: giveway-bottom-right 0.3s ease-in 0.4s forwards;
}

/* *******************************  */
/* Slider and it's children styles  */
/* *******************************  */
.slider-wrapper{
    position: relative;
    width: 70%;
    height: 40vh;
    opacity: 0;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

@media screen and (max-width: 1980px) {
    .slider-wrapper{
        width: 70%;
    }
}

@media screen and (max-width: 1680px) {
    .slider-wrapper{
        width: 100%;
    }
}

.slider-border{
    position: relative;
    /* width: 100%; */
    /* height: 100%; */
    width: 100%;
    height: 40vh;
    overflow: auto;
    /* border:2px solid #fff; */
}

.slider-border .slide-element{
    height: 500px;
    /* background:#0d0d0d; */
    /* border:1px solid #fff; */
}


/* *******************************  */
/* Slider element content styles  */
/* *******************************  */
.slide-element-wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0 10%;
    overflow: hidden;
}
.slide-element-left-content{
    position: relative;
    width: auto;
    padding: 40px 40px 80px 40px;
}

.slide-element-right-content{
    width: 60%;
    padding: 40px 15px 40px 70px;
}

.slide-element-slider-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    padding-bottom: 40px;
    padding-top: 190px;
}


.slide-element-img-bg{
    position: relative;
    background: #151B24;
    width: 400px;
    height: 100%;
    padding: 60px 40px 60px 40px;
    z-index: 2;
    transform: perspective(350px) rotateX(8deg) translateY(-100px);
}

.active-animated-slick .slide-element-img-bg{
    animation: anim 1s ease 0.2s forwards;    
}

.active-animated-slick .slider-shadow{
    animation: animshadow 0.5s ease 0.3s forwards;
}

.slide-element-img-highlight{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.slide-element-img-highlight svg{
    opacity: 1;
}

.get-hidden-element{
    width: 100%;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #ffffff;
    overflow: hidden;
}

.slide-img-info{
    padding: 0;
}

.slide-img-info p {
    opacity: 0;
    text-align: center;
}

.slide-img-info p.base{
    margin-top: 20px;
}

.clicked .slide-img-info{
    padding: 40px 30px;
}

.clicked .slide-img-info p{
    animation: showElement 0.2s ease-in 1s forwards;
}

.clicked .slide-img-info .text-block{
    animation: showElement 0.2s ease-in 1s forwards;
}

.clicked{
    animation: clicked 0.2s ease-in forwards;
}

.clicked .get-hidden-element{
    animation: getHiddenElement 0.6s ease-out forwards;
}

.slick-active svg{
    animation: showImage 1s ease forwards;

}

.clicked .qoute-icon{
    text-align: center;
    transform: translateY(200px);
    animation: getQouteIcon 0.6s ease-out 0.1s forwards;
}

.slider-shadow{
    width: 300px;
    height: 300px;
    position: absolute;
    bottom: 100px;
    right: -10px;
}

/* Slider stick  */
#stick-pen{
    transition: all 0.4s ease;
}
.slider-stick{
    display: none;
    position: absolute;
    right: 10%;
    width: 7px;
    height: 100%;
    border-radius: 20px;
    background: rgba(217,217,217,0.08);
    top: 0;
}

.stick-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
}

.slider-stick .stick{
    width: 100%;
    height: 25%;
    background:#ffffff;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-radius: 20px;
}

a{
    font-weight: 500;
}

a:hover{
    color: #00ff08;
    font-weight: 500;
}

.text-block{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    opacity: 0;
}

.text-block span{
    display: inline-block;
    width: 100%;
    height: 23px;
    margin-bottom: 10px;
    background: #dbdbdb;
    border-radius: 10px;
}

.text-block span:last-of-type{
    margin-bottom: 0;
}
/* Height breakpoints  */
@media screen and (max-height: 1200px) {
    .slider-border{
        height: 60vh;
    }
}

@media screen and (max-height: 768px) {
    .slider-border{
        height: 70vh;
    }
}

/* Width Breakpoints  */

@media screen and (max-width: 1024px) {
    .h1, h1 {
        font-size: 3rem;
    }
    .slider-wrapper,
    .slider-border,
    .slider-border .slide-element{
        height: 100vh;
    }
    
    .slide-element-wrapper{
        padding:0;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        align-items: center;
        align-content: center;
    }
    .slide-element-img-bg{
        height: 40vh;
    }
    .slide-element-wrapper{
        height: 100vh;
    }

    .slide-element-right-content{
        width: 100%;
        padding: 40px 15px 40px 15px
    }
    .slide-element-slider-content {
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-top: 0;
    }
    .slider-shadow,
    .slider-stick{
        display: none;
    }

    .color-picker-wrapper .color-c{
        width: 35px;
        height: 100%;
    }

    .color-picker{
        height: 30px;
    }

    .color-picker{
        left: 80%;
    }
}
.color-picker{
    position: absolute;
    top: 50px;
    width: auto;
    height: 60px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    left: 50%;
    padding: 0 33px;
    transform: translateX(-50%);
}

.color-picker-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.color-picker-wrapper .color-c{
    width: 65px;
    height: 100%;
}

.color-picker-wrapper .color-c:last-child{
    margin-right: 0;
}
/* Animation keyframes  */
@keyframes rot1 {
    50%{
        transform: scale(1) rotate(90deg);
    }
    100%{
        transform: scale(1) rotate(180deg);
    }
}

@keyframes lightson{
    100%{
        background: #07080F;
    }
}
@keyframes lightsonblue{
    100%{
        background: #020514;
    }
}
@keyframes lightsongreen{
    100%{
        background: #010e03;
    }
}

@keyframes dis1 {
    50%{
        transform: scale(1.2) rotate(-90deg);
    }
    100%{
        opacity: 0;
        transform: scale(1.2) rotate(-180deg);
    }
}

@keyframes giveway-top-left{
    100%{
        transform: translate(-60%, -60%);
    }
}

@keyframes giveway-bottom-right{
    100%{
        transform: translate(60%, 60%);
    }
}

@keyframes showImage {
   
    100%{
        opacity: 1;
    }
}

@keyframes clicked {
    100%{
        padding: 30px 40px;
    }
}

@keyframes getHiddenElement {
    50%{
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        background: #ffffff;
    }
    100%{
        width: 100%;
        height: 80%;
        position: absolute;
        bottom: 20%;
        left: 0;
        background: #ffffff;
    }
}

@keyframes getQouteIcon{
    100% {
        transform: translateY(0)
    }
}

@keyframes showElement {
    100% {
        opacity: 1;
    }
}

@keyframes getContent{
    100%{
        opacity: 1;
    }
}

@keyframes anim {
    100%{
        transform: perspective(none) rotateX(0deg) translateY(0px)
    }
}
@keyframes animshadow {
    100%{
        bottom: 0;
    }
}

@keyframes easing {
    50%{
        font-size: 1.7rem;
    }
    100%{
        font-size: 1rem;
    }
    
}
/* End of Animation keyframes  */


/* custom color change*/
body.t-blue{
    animation: lightsonblue 0.4s ease-in forwards;
    transition: all 0.5s ease;
}
body.t-green{
    animation: lightsongreen 0.4s ease-in forwards;
    transition: all 0.5s ease;
}
.color-c{
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease;
}

.color-c:hover{
    transition: all 0.2s ease;
    transform: scale(1.2);
}
.color-c.t-yellow  {
    background: #E3A400;
}
.color-c.t-blue  {
    background: #445fef;
}
.color-c.t-green  {
    background: #22af3a;
}
.t-yellow .color-c.t-yellow  {
    background: #E3A400;
}
.t-blue .color-c.t-blue  {
    background: #445fef;
}

.t-yellow  .slide-element-img-highlight {
    background: #E3A400;
}
.t-blue  .slide-element-img-highlight {
    background: #445fef;
}
.t-green  .slide-element-img-highlight {
    background: #22af3a;
}


.t-blue .slide-element-img-bg{
    background: #000f2a;
}
.t-green .slide-element-img-bg{
    background: #006611;
}

.color-picker{
    background:rgba(255,255,255,0.08);
}

.t-yellow  .slide-element-slider-content h1{
    color: #F8B508;
}
.t-blue  .slide-element-slider-content h1{
    color: #ffffff;
}

.t-green  .slide-element-slider-content h1{
    color: #ffffff;
}



.t-yellow  .slide-element-slider-content p{
    color: #ffffff;
}
.t-blue  .slide-element-slider-content p{
    color: #ffffff;
}
.t-green  .slide-element-slider-content p{
    color: #ffffff;
}

.t-yellow  a{
    color: #00ff08;
}
.t-yellow  .slider-shadow{
    background: rgba(255,255,255,0.01);
}